<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Helium Demo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Helium Demo">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="min-h-screen bg-gradient-to-br from-pink-100 via-white to-blue-100 flex flex-col items-center p-10">
        <h1 class="text-6xl font-bold mb-10 bg-gradient-to-r from-sky-200 via-pink-300 to-yellow-100 inline-block text-transparent bg-clip-text"><%= link_to "Beyond Stimulus", root_path %></h1>

        <%= yield %>
        <ul class="flex space-x-4 border-b border-slate-200">
          <li>
            <%= link_to "Helium Basic Examples",
                  "/helium/basics",
                  class: "px-4 py-2 inline-block rounded-t-lg bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 transition" %>
          </li>

          <li>
            <%= link_to "Stimulus Carousel",
                  "/stimulus/carousel",
                  class: "px-4 py-2 inline-block rounded-t-lg bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 transition" %>
          </li>

          <li>
            <%= link_to "Helium Carousel",
                  "/helium/carousel",
                  class: "px-4 py-2 inline-block rounded-t-lg bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 transition" %>
          </li>

          <li>
            <%= link_to "Helium Ajax Examples",
                  "/helium/ajax",
                  class: "px-4 py-2 inline-block rounded-t-lg bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 transition" %>
          </li>

          <li>
            <%= link_to "Rails Projects",
                  "/projects",
                  class: "px-4 py-2 inline-block rounded-t-lg bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 transition" %>
          </li>
        </ul>
    </main>
  </body>
</html>
